<nav>
    <div class="nav-wrapper" style="background-color: silver;">
        <a href="#" class="brand-logo" style="color:#36454f ;">F1 News</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="waves-effect waves-light btn btn-danger darken-4 scrape-new" style="background-color: white; border-color: #38B09D; color:#38B09D">Scrape New Articles</a></li>
        </ul>
    </div>
</nav>

<div class="parallax-container">
    <div class="parallax"><img src="http://thestrategicfellow.com/wp-content/uploads/2018/06/f1bg.jpg" style="opacity: 1; transform: translate3d(-40%, 0px, 0px);"></div>
    <h1>Formula 1 News</h1>
</div>

<div class="container" >

</div>

<footer class="footer">
    <div class="container">
        <p>Formula 1 News</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="../../assets/javascript/index.js"></script>
<script src="../../scripts/scrape.js"></script>