<nav>
    <div class="nav-wrapper grey darken-4">
        <a href="#" class="brand-logo">F1 News</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/saved">Saved Articles</a></li>
            <li><a class="waves-effect waves-light btn grey darken-4 scrape-new">Scrape New Articles</a></li>
        </ul>
    </div>
</nav>

<div class="parallax-container">
    <div class="parallax"><img src="http://thestrategicfellow.com/wp-content/uploads/2018/06/f1bg.jpg" style="opacity: 1; transform: translate3d(-40%, 212.412px, 0px);"></div>
    <h1>Saved Aritcles</h1>
</div>

<div class="container" >

</div>

<footer class="footer">
    <div class="container">
        <p>Formula 1 News</p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
</script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.js"></script>